.dropdown-item:hover {
    background-color: rgb(110, 108, 108);
    color: white;
    font-weight: bold;
}

.aumentarLetra:hover,
.aumentarLetra:focus {
    font-size: 20px;
    color: white;
}

.fondoListaGrupos {
    background-image: url(img/fondoListaGrupo.png);
    background-size: cover;
}

.fondoCursos {
    background-image: url(img/fondoCursos.jpg);
    background-size: cover;
}

.fondoEstudiantes {
    background-image: url(img/fondoEstudiantes.jpg);
    background-size: cover;
}

.fondoProfesores {
    background-image: url(img/fondoProfesores.jpg);
    background-size: cover;
}

.fondo {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}

.btn-square {
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    transition: font-size 0.2s;
    text-decoration: none;
}

.btn-square:hover {
    background-color: rgb(134, 134, 134);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.textJustify{
    text-align: justify !important;
  }