.dropdown-item:hover{
    background-color: rgb(110, 108, 108);
    color: white;
    font-weight: bold;
}

.aumentarLetra:hover, .aumentarLetra:focus, .aumentarLetra.active{
    font-size: 20px;
    color: white;
}

.fondoListaGrupos{
    background-image: url(img/fondoListaGrupo.png); 
    background-size: cover;
}

.fondo{
    background-color: rgba(255, 255, 255, 0.3);
}
